*.pyc
.DS_Store
resource/xiaobing.conf
.idea/*
.vscode/settings.json
.ipynb_checkpoints/*.ipynb
jupterBook/.ipynb_checkpoints/*.ipynb
botWeb/dump.rdb
dump.rdb
botWeb/db.sqlite3
botWeb/db.sqlite3
lesson/file_info.csv
